.student{
    border: 2px dotted blue;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

img{
    width:180px;
    height:180px;
}

#detail{
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    
}  